body {
    background-image: url("http://www.littlegreene.com/media/catalog/product/cache/1/small_image/280x370/17f82f742ffe127f42dca9de82fb58b1/b/e/bedford_square_-_printemps_2.jpg");
    font-family: sans-serif;
    color: black;
}
