<!doctype html>

<html>
<head>
  <title>Game</title>
</head>
<body>
<form action = "/madlib">
    Please enter a celebrity's name.<input type= "text" name="person"><br>
    What is your favorite color?<select name="color">
        <option value="red">Red</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
        <option value="Orange">Orange</option>
    </select><br>
    Please enter a noun.<input type="text" name="noun"><br>
    Please enter an adjective.<input type="text" name="adjective"><br>
    Choose one or more adverbs.<br>
    <input type="checkbox" name="adverb" value="gently">Gently<br>
    <input type="checkbox" name="adverb" value="quietly">Quietly<br>
    <input type="checkbox" name="adverb" value="quickly">Quickly<br>
    <input type="checkbox" name="adverb" value="terribly">Terribly<br>

    <input type="submit">

</form>
</body>
</html>